# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.venv/
env/
gaitscan-env/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Environment variables
.env

# Build
build/
dist/
*.egg-info/

# ML / Data files (optional - keep only if not needed on GitHub)
*.h5
*.pt
*.pth
*.ckpt
*.onnx
*.pb
*.tflite
*.pkl
*.joblib
*.csv
*.zip
*.tar.gz

# Media / heavy assets
*.mp4
*.mov
*.avi
*.mkv
*.png
*.jpg
*.jpeg
*.webp
*.gif